@font-face {
  font-family: "SF-pro", sans-serif;
  src: url("./assets/font/SF-Pro-Rounded-Semibold.ttf") format("ttf"),
    url("./assets/font/SF-Pro-Rounded-Semibold.woff") format("woff");
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "SF-pro", sans-serif;
}

body {
  background-image: url("./assets/Mockup content (3456 px x 2234 px) (1).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#main {
  width: 230px;
  height: 230px;
}

#bit {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3f3f3f;
  border-radius: 35px;
  background-color: #3f3f3f;
  color: #ababab;
  padding: 10px 19px;
}

#bit img {
  width: 83px;
  height: 22px;
  margin-right: 15px;
}

.container {
  text-align: center;
  margin-top: 30px;
}

.gradia {
  background: linear-gradient(to right, #f24255 0%, #f85466 46%, #fe6a7a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 50px;
}

h1 {
  color: #ffffff;
  font-size: 50px;
}

#para {
  color: #8e8d8d;
  margin-top: 20px;
}

.input-container {
  position: relative;
  width: 380px;
  margin-top: 50px;
  margin-bottom: 45px;
}

.input-field {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid rgba(169, 169, 169, 0.1);
  background-color: rgba(169, 169, 169, 0.1);
  border-radius: 40px;
  font-size: 16px;
  outline: none;
  height: 60px;
  color: #ababab;
}

.submit-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: red;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  height: 44px;
  width: 100px;
}

.submit-button:hover {
  background-color: darkred;
}
